<center>
    <img src="https://res.cloudinary.com/dhnf8ihc2/image/upload/v1616709258/button-icon-delete-button-png-image-beaec7675a1186b68aa390e912e7e5ec_evcavo.png">
    <p>Country delete</p>>
</center>