
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header1{
  font:30% sans-serif;
  display: flex;
  align-items: center;
  width:auto;
  background-color: rgb(173, 162, 235);
  border-color:  rgb(103, 76, 179);
  border-width: 20%;
  border-style: solid;
}
#s2 a{
  margin-right: 20px;
}
#s2{
  font:20pt sans-serif;
  display: flex;
  width:40%;
  align-items: center;
  margin-left: auto;  
}
#s1{
  font:20pt sans-serif;
  display: flex;
  width:30%;
  align-items: center;  
}
 a[href=""]
{
  pointer-events: none;
  cursor: pointer;
  text-decoration: none;
  color:rgb(15, 97, 83);
}
 a[href="/api/users"]
{
  
  color: rgb(16, 158, 134);
}
a[href="/api/continent"]
{
  
  color: rgb(16, 158, 134);
}
a[href="/api/about"]
{
  
  color: rgb(16, 158, 134);
}
 a[href="/api/country"]
{
  color: rgb(16, 158, 134);
}
 a[href="/"]
{
  color: rgb(16, 158, 134);
}
a[href="/api/users/{{id}}"]
{
  color: rgb(16, 158, 134);
}
#logo{

  width: 5%;
  height: 5%;
  image-rendering: pixelated;
}
center{
  padding-top: 40pt;
  font:24pt sans-serif;

}
#home
{
  width: 40%;
  height: 40%;
  align-items: center; 
  image-rendering: pixelated;
  padding-top: 30pt;
}
#s3{
  font:20pt sans-serif;
  display: flex;
  width:30%;
}
#tableUsers,#tableUsers th,#tableUsers td
{
  font:24pt sans-serif;
  border: 4pt solid  rgb(103, 76, 179);
  align-items: center; 
  border-collapse: collapse;
  border-spacing: 13%;
}
#user{
  width: 200pt;
  height: auto;
  border-radius: 100%;

}
#tableUser 
{
  font:24pt sans-serif;
  border-spacing: 30pt;

}
#st1
{
  vertical-align: top;
}
hr{
  width: 2000px;
  color: blueviolet;
}
footer{
  position: fixed;
  bottom: 0;
  font:14pt sans-serif;
  text-align: center;
  background-color: rgb(173, 162, 235);
}
#but
{
  vertical-align: top;

  height: 30px;
  width: auto;
}
#se
{
  font:12pt sans-serif;
  color: blueviolet;
}
#p
{
  font:12pt sans-serif;
}
#but1
{
  vertical-align: top;

  height: 40px;
  width: auto;
}
#table 
{
  text-align: right;
  border: 4pt solid  rgb(103, 76, 179);
  align-items: center; 
  border-collapse: collapse;
  border-spacing: 13%;
}
#ava
{
  width: 200pt;
  height: auto;
}
#tableContinent
{
  font:24pt sans-serif;
  border: 4pt solid  rgb(103, 76, 179);
  align-items: center; 
  border-collapse: collapse;
  border-spacing: 13%;
}