<template>
    <div class="sign">
        <div v-if="error">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Authentification failed!</strong> {{error}}
            <button @click="noerr" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <center>
            <form @submit="sendForm">
                <h2> Registration </h2>
                <input type="text" id="username" v-model="username" placeholder="username" class="form-control rounded-right enter" required>
                <br>
                <input type="password" v-model="password" placeholder="password" class="form-control rounded-right enter" required>
                <br>
                <input class="btn btn-primary" type="submit" value="register">
            </form>
            Already have an account? <router-link to="/sign">Log in  now</router-link>
        </center>
    </div>
</template>
<script>
import {onLogin} from '../vue-apollo'
import { GET_LOGIN, GET_REGISTER} from '../constants/graphql.js'
export default {
    name: 'register',
    data(){
        return{
            id: null,
            errors: null,
            username: null,
            password: null,
            error:null,
            er_mes:""
        };
    },
    methods:{
         async sendForm(e){
             e.preventDefault()
             let res=null
             let res2=null
             try{
             res= await this.$apollo.query({
             query: GET_REGISTER,
                variables: { username: this.username,
                        password: this.password}
            })
            console.log(res.data)
            res2= await this.$apollo.query({
             query: GET_LOGIN,
                variables: { username: this.username,
                        password: this.password}
            })
            console.log(res2.data.login)
            localStorage.setItem('username',this.username)
            await onLogin(this.$apollo.provider.defaultClient,res2.data.login)
            this.$router.push('/chats')
            }
            catch({ graphQLErrors, networkError }){
                if (graphQLErrors)
                graphQLErrors.map(({ message}) =>
                this.error=message,)
                if (networkError) this.error=networkError
            }

        },
        noerr(){
            this.error=""
        }
    }
};
</script>
<style scoped>
.sign{
    padding-top: 10%;
}
input{
    width: 30%;
    height: 20%;
}
</style>