<template>
    <div class="sign">
        <div v-if="error">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Authentification failed!</strong> {{error}}
            <button @click="noerr" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <center>
            <form @submit="sendForm">
                <h2> Sign in </h2>
                <input type="text" id="username" v-model="username" placeholder="username" class="form-control rounded-right enter" required>
                <br>
                <input type="password" v-model="password" placeholder="password" class="form-control rounded-right enter" required>
                <br>
                <input class="btn btn-primary" type="submit" value="sign in">
            </form>
            don't have an account? <router-link to="/register">Register now</router-link>
        </center>
    </div>
</template>
<script>

import {onLogin} from '../vue-apollo'
import { GET_LOGIN } from '../constants/graphql.js'

export default {
    name: 'SignIn',
    data(){
        return{
            login: null,
            user: null,
            error: null,
            username: null,
            password: null,
            er_mes:"",
            skipQuery:true
        };
    },
    methods:{
         async sendForm(e){
             e.preventDefault()
             let res=null
             try{
             res= await this.$apollo.query({
             query: GET_LOGIN,
                variables: { username: this.username,
                        password: this.password}
            })
            console.log(res.data.login)
            localStorage.setItem('username',this.username)
            await onLogin(this.$apollo.provider.defaultClient,res.data.login)
            this.$router.push('/chats')
            }
            catch({ graphQLErrors, networkError }){
                if (graphQLErrors)
                graphQLErrors.map(({ message}) =>
                this.error=message,)
                if (networkError) this.error=networkError
            }

        },
        noerr(){
            this.error=""
        }
    }
};
</script>
<style scoped>
.sign{
    padding-top: 10%;
}
input{
    width: 30%;
    height: 20%;
}
</style>